/* --------------------GENERAL-------------------- */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --main-selection-color: #2196f3;
  --main-icons-color: #afb1b8;
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.btn {
  background-color: var(--main-selection-color);
  color: var(--main-background-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* --------------------INDEX SITE-------------------- */

.h1-box {
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img-h1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
  margin-bottom: 94px;
}

h1 {
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 250px;
}

.h1-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.h1-btn .btn {
  padding: 10px 41px 10px 42px;
}

.strengths__header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.strengths__header--setup {
  margin-bottom: 10px;
}

.strengths__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.strengths {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-inline: 15px;
}

.strengths__item {
  width: 270px;
}

.strengths__icon {
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.strengths__icon--setup {
  margin-bottom: 30px;
  padding: 25px 100px;
}

.section__header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section {
  padding: 94px 0;
}

.services {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.services__img {
  display: block;
}

.services__item {
  position: relative;
}

.services__box {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  padding-block: 27px;
}

.services__text {
  color: var(--main-background-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-box {
  background-color: var(--secondary-background-color);
}

.team__item figure {
  background-color: var(--main-background-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: inline-block;
  margin: 0;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__name--setup {
  margin-bottom: 10px;
}

.team__text {
  color: var(--secondary-text-color);
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text--setup {
  margin-bottom: 16px;
}

.team {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.team__img {
  margin-bottom: 30px;
}

.sm-team {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-inline: 32px;
  margin-bottom: 30px;
}

.sm-team__item {
  width: 44px;
  height: 44px;
  background-color: var(--main-background-color);
  border-radius: 50%;
  padding: 12px;
  transition: background-color var(--transition-duration) var(--cubic-bezier);
}

.sm-team__item:hover,
.sm-team__item:focus {
  background-color: var(--main-selection-color);
  cursor: pointer;
}

.team__icon {
  fill: var(--main-icons-color);
  transition: fill var(--transition-duration) var(--cubic-bezier);
}

.sm-team__item:hover .team__icon,
.sm-team__item:focus .team__icon {
  fill: var(--main-background-color);
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--main-icons-color);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--cubic-bezier);
}

.customers__item:hover,
.customers__item:focus {
  border-color: var(--main-selection-color);
  cursor: pointer;
}

.customers__icon {
  fill: var(--main-icons-color);
  transition: fill var(--transition-duration) var(--cubic-bezier);
}

.customers__item:hover .customers__icon,
.customers__item:focus .customers__icon {
  fill: var(--main-selection-color);
}

/* --------------------PORTFOLIO SITE-------------------- */

.buttons__item {
  color: var(--main-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color var(--transition-duration) var(--cubic-bezier),
    background-color var(--transition-duration) var(--cubic-bezier),
    box-shadow var(--transition-duration) var(--cubic-bezier);
}

.buttons__item:hover,
.buttons__item:focus {
  color: var(--main-background-color);
  background-color: var(--main-selection-color);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.project__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__name--setup {
  margin-bottom: 4px;
}

.project__type {
  color: var(--secondary-text-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 94px;
}

.project__item figure {
  margin: 0;
}

.project__item {
  transition: box-shadow var(--transition-duration) var(--cubic-bezier);
}

.project__item:hover,
.project__item:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project__border {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 23px 19px 23px;
}

.project__item:hover .project__overlay,
.project__item:focus .project__overlay {
  transform: translateY(0);
}

.project__box {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.project__overlay {
  display: flex;
  align-items: center;
  padding: 0 45px 0 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--main-selection-color);
  opacity: 0.9;
  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--cubic-bezier);
}

.project__overlay-text {
  color: var(--main-background-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

/* --------------------GENERAL HEADER-------------------- */

header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--color-black {
  color: #000;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__logo {
  margin-right: 93px;
}

.main-nav__link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-duration) var(--cubic-bezier);
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--main-selection-color);
}

.main-nav__link--underline {
  color: var(--main-selection-color);
}

.main-nav__link--underline::after {
  cursor: auto;
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  background-color: var(--main-selection-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.main-nav__link--after {
  color: var(--main-selection-color);
}

.main-nav__link--after::after {
  cursor: auto;
  content: "";
  position: absolute;
  width: 58px;
  height: 4px;
  background-color: var(--main-selection-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.main-nav__item {
  padding: 32px 0;
  position: relative;
}

.main-nav {
  display: flex;
  gap: 46px;
  margin-right: 345px;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts-header__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-duration) var(--cubic-bezier);
}

.contacts-header__link:hover,
.contacts-header__link:focus {
  color: var(--main-selection-color);
}

.contacts-header {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.contacts-header__icon {
  --icon-envelope-smartphone: currentColor;
  margin-right: 6px;
  transform: translateY(1px);
}

.contacts-header__icon--setup {
  transform: translateY(3px);
}

/* --------------------GENERAL FOOTER-------------------- */

footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo--color-white {
  color: var(--main-background-color);
}

.logo--color-blue {
  color: var(--main-selection-color);
}

.address {
  color: var(--main-background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address--setup {
  margin-top: 20px;
}

.footer__box {
  padding-left: 15px;
}

.contacts-footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color var(--transition-duration) var(--cubic-bezier);
}

.contacts-footer__link:hover,
.contacts-footer__link:focus {
  color: var(--main-selection-color);
}

.contacts-footer {
  margin-top: 9px;
}

.contacts-footer li:nth-child(1) {
  margin-bottom: 9px;
}

.sm-footer-box {
  padding-top: 11px;
}

.sm-footer-box__text {
  color: var(--main-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.sm-footer-box__text--setup {
  margin-bottom: 20px;
}

.sm-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sm-footer__item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;
  transition: background-color var(--transition-duration) var(--cubic-bezier);
}

.sm-footer__item:hover,
.sm-footer__item:focus {
  background-color: var(--main-selection-color);
  cursor: pointer;
}

.sm-footer__icon {
  fill: var(--main-background-color);
}

.newsletter {
  padding-top: 11px;
  padding-right: 15px;
}

.newsletter__text {
  color: var(--main-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.newsletter__text--setup {
  margin-bottom: 20px;
}

.newsletter__input {
  color: var(--main-background-color);
  background-color: #2f303a;
  width: 358px;
  padding-block: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  margin-right: 8px;
}

.newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.btn--setup {
  padding: 10px 76px 10px 42px;
  position: relative;
}

.btn__icon-send {
  --icon-send: currentColor;
  position: absolute;
  top: 13px;
  right: 28px;
}

/* --------------------MODAL WINDOW-------------------- */

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  transition: opacity var(--transition-duration) var(--cubic-bezier),
    visibility var(--transition-duration) var(--cubic-bezier);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: var(--main-background-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 40px;
}

.form__header {
  color: var(--main-text-color);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__header--setup {
  margin-bottom: 12px;
}

.form__label {
  display: flex;
  align-items: center;
  position: relative;
  pointer-events: none;
}

.form__text {
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__text--setup {
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  padding-block: 10px;
  padding-left: 41px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration) var(--cubic-bezier);
}

.form__input:focus {
  border-color: var(--main-selection-color);
}

.form__icon {
  fill: var(--main-text-color);
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill var(--transition-duration) var(--cubic-bezier);
}

.form__box:focus-within .form__icon {
  fill: var(--main-selection-color);
}

.form__comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color var(--transition-duration) var(--cubic-bezier);
}

.form__comment--setup {
  padding: 12px 16px;
  margin-bottom: 15px;
}

.form__comment:focus {
  border-color: var(--main-selection-color);
}

.form__comment::placeholder {
  color: var(--secondary-text-color);
  opacity: 0.5;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.checkbox {
  display: none;
}

.checkbox__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox__link {
  color: var(--main-selection-color);
  cursor: pointer;
  pointer-events: auto;
}

.checkbox__label {
  display: flex;
  align-items: center;
  pointer-events: none;
  position: relative;
  margin-bottom: 30px;
}

.checkbox__label::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 8px;
  margin-left: 15px;
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 75ms ease-in, border 25ms linear;
}

.checkbox:checked + .checkbox__label::before {
  background-color: var(--main-selection-color);
  border: none;
}

.checkbox:checked + .checkbox__label .checkbox__icon {
  opacity: 1;
}

.checkbox__icon {
  fill: var(--main-background-color);
  opacity: 0;
  position: absolute;
  top: 7px;
  left: 18px;
  cursor: pointer;
  transition: opacity 75ms ease-in;
}

.form__btn {
  display: flex;
  justify-content: center;
}

.form__btn .btn {
  padding: 10px 76px;
}
