:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --main-selection-color: #2196f3;
  --main-icons-color: #afb1b8;
  --main-font-size: 14px;
  --main-letter-spacing: 0.03em;
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
